
#pins.transitions-enabled
    - @pins.each do |i|
        .box.panel.panel-default
            = link_to (image_tag i.image.url), i
            .panel-body
                %h2= link_to i.title, i
                %p.user
                Submitted by
                = i.user.email